.topbar {
	display: flex;
	height: $header-height;
	background-color: $default-text-color;
}

.topbar-container {
	flex-grow: 1;
	display: flex;
	padding: $header-top-padding 2rem;
	color: $inverse-text;
}

.topbar-search {
	flex-grow: 1;
	display: flex;
	position: relative;
	padding-right: 5rem;
}
.search-label {
	position: absolute;
	top: .5em;
	bottom: 0;
	left: 1em;
	font-size: 1.2em;
	color: $inverse-text;
}
.search-input {
	outline: 0;
	background-color: $light-text;
	border-radius: 40px;
	border: 0;
	padding: 0 1rem 0 3rem;
	width: 100%;
	height: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
