
//Colors
$main-color: #4285f4;
$accent-color: #ffb632;

$dark-text: #1b2027;
$default-text-color: #242b34;
$light-text: #2a343c;
$lighter-text: #858585;
$inverse-text: #fff;

	//Utility colors:
	$lightest-main-color: #95BAF9;
	$lighter-main-color: #689df6;
	$darker-main-color: #1a69ef;
	$darkest-main-color: #0759e4;

	$lightest-accent-color: #ffd78e;
	$lighter-accent-color: #ffc55d;
	$darker-accent-color: #ffa504;
	$darkest-accent-color: #ffa400;

	$secondary-color: #2ff3d8;
	$lighter-secondary-color: #59f5e0; //8af8e9
	$darker-secondary-color: #04edcd; //00e1c2

	$tertiary-color: #6748f5;
$lighter-tertiary-color: #866df7; //aa98f9
	$darker-tertiary-color: #4721f0; //3109e6


// Topbar
$header-height: 5rem;
$header-top-padding: 1rem;
