<view-header></view-header>
<section class="main-section">
	<article class="card">
		<div class="item--thumbnail"></div>
		<div class="item--details">
			<a href="#" class="title">Test</a>
			<span class="tags">
								<a href="#">framework</a>
								<a href="#">css</a>
							</span>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			</p>
		</div>
		<nav class="item--actions">
			<button class="action like">
				<i class="fa fa-heart"></i>
				<span>10</span>
			</button>
			<button class="action share">
				<i class="fa fa-share"></i>
				<span>Share</span>
			</button>
		</nav>
	</article>
	<article class="card">
		<div class="item--thumbnail"></div>
		<div class="item--details">
			<a href="#" class="title">Test</a>
			<span class="tags">
								<a href="#">framework</a>
								<a href="#">css</a>
							</span>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			</p>
		</div>
		<nav class="item--actions">
			<button class="action like">
				<i class="fa fa-heart"></i>
				<span>10</span>
			</button>
			<button class="action share">
				<i class="fa fa-share"></i>
				<span>Share</span>
			</button>
		</nav>
	</article>
	<article class="card">
		<div class="item--thumbnail"></div>
		<div class="item--details">
			<a href="#" class="title">Test</a>
			<span class="tags">
								<a href="#">framework</a>
								<a href="#">css</a>
							</span>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			</p>
		</div>
		<nav class="item--actions">
			<button class="action like">
				<i class="fa fa-heart"></i>
				<span>10</span>
			</button>
			<button class="action share">
				<i class="fa fa-share"></i>
				<span>Share</span>
			</button>
		</nav>
	</article>
	<article class="card">
		<div class="item--thumbnail"></div>
		<div class="item--details">
			<a href="#" class="title">Test</a>
			<span class="tags">
								<a href="#">framework</a>
								<a href="#">css</a>
							</span>
			<p class="description">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
			</p>
		</div>
		<nav class="item--actions">
			<button class="action like">
				<i class="fa fa-heart"></i>
				<span>10</span>
			</button>
			<button class="action share">
				<i class="fa fa-share"></i>
				<span>Share</span>
			</button>
		</nav>
	</article>
</section>
